<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../resources/css/style.css">
  </head>
  <body>
    <nav class="nav-bar">
        <div class="main-buttons">
            <ul>
                <li>
                    <a class="nav-button" href="./home.html">Home</a>
                </li>
                <li>
                    <a class="nav-button" href="./hobbies.html">Hobbies</a>
                </li>
                <li>
                    <a class="nav-button" href="./projects.html">Projects</a>
                </li>
            </ul>
        </div>
        <div class="main-icon">
        <img src="../resources/img/icon.jpg" alt="logo" width="34" height="34">
        </div>
    </nav>

    <div class="hobbies-cards">
            <div class="hobby-card">
                <div>
                    <img src="../resources/img/hobby-1.jpg" alt="" width="200px" height="200px">
                </div>
                <div>
                    <h1>Crafting</h1>
                    <p>Crafting is my biggest hobby. I love doing anything crafty, from drawing to crocheting. I am always starting a new craft project or looking for new crafts to do.</p>
                </div>
            </div>
            <div class="hobby-card">
                <div>
                    <img src="../resources/img/hobby-2.jpg" alt="" width="200px" height="200px" style="object-fit: cover;">
                </div>
                <div>
                    <h1>Fashion</h1>
                    <p>Fashion is a big part of my life. I love dressing up, shopping for new clothes, makeup, and jewelry.</p>
                </div>
            </div>
            <div class="hobby-card">
                <div>
                    <img src="../resources/img/hobby-3.png" alt="" width="200px" height="200px" style="object-fit: cover;">
                </div>
                <div>
                    <h1>Journaling</h1>
                    <p>Journaling is a very important hobby that helps me to not only be creative, but also regulate my emotions.</p>
                </div>
            </div>
    </div>

    <footer class="footer">
        <a href="https://www.instagram.com/jnnkim1/"><img src="../resources/img/instagram.png" alt="" width="34px"></a>
        <a href="https://github.com/jnnkim1"><img src="../resources/img/github.png" alt="" width="34px"></a>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>